{% extends "base.html" %}

{% block title %}{{ _('Card Library') }}{% endblock %}

{% block content %}
<div class="text-center mb-5">
    <h2>{{ _('TAROT LIBRARY') }}</h2>
    <p class="text-secondary">{{ _('Explore the meanings of all 78 cards') }}</p>
</div>

<!-- Categories -->
<ul class="nav nav-tabs mb-4 justify-content-center" id="cardTypeTabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#all">{{ _('All Cards (78)') }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#major">{{ _('Major Arcana (22)') }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#minor">{{ _('Minor Arcana (56)') }}</a>
    </li>
</ul>

<div class="tab-content">
    <!-- All Cards -->
    <div class="tab-pane fade show active" id="all">
        <div class="row">
            {% for card in cards %}
            <div class="col-md-2 col-sm-4 col-6 mb-4">
                <div class="option-card p-2 h-100">
                    <a href="/card/{{ card['url'] }}" class="d-block text-decoration-none">
                        <img src="{{ url_for('static', filename=card['image']) }}"
                             class="tarot-card-img mb-2" alt="{{ card['name'] }}" loading="lazy">
                        <h6 class="text-white small mt-2">{{ card['name'] }}</h6>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Major Arcana -->
    <div class="tab-pane fade" id="major">
        <div class="row">
            {% for card in cards if card['cardtype'] == 'major' %}
            <div class="col-md-2 col-sm-4 col-6 mb-4">
                <div class="option-card p-2 h-100">
                    <a href="/card/{{ card['url'] }}" class="d-block text-decoration-none">
                        <img src="{{ url_for('static', filename=card['image']) }}"
                             class="tarot-card-img mb-2" alt="{{ card['name'] }}" loading="lazy">
                        <h6 class="text-white small mt-2">{{ card['name'] }}</h6>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Minor Arcana -->
    <div class="tab-pane fade" id="minor">
        <div class="row">
            {% for card in cards if card['cardtype'] != 'major' %}
            <div class="col-md-2 col-sm-4 col-6 mb-4">
                <div class="option-card p-2 h-100">
                    <a href="/card/{{ card['url'] }}" class="d-block text-decoration-none">
                        <img src="{{ url_for('static', filename=card['image']) }}"
                             class="tarot-card-img mb-2" alt="{{ card['name'] }}" loading="lazy">
                        <h6 class="text-white small mt-2">{{ card['name'] }}</h6>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
